
@import "./default/index.scss";


*{
  box-sizing: border-box;
}

html,
body,
#app,
.el-container
 {
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 14px;
}
/////////////////////////////

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;



} 
