

$menuBg: #001529; //菜单背景色
$submenuBg: #000c17;//二级菜单的背景颜色

$textcolor: hsla(0,0%,100%,.65); //默认字体颜色
$activeTextColor: #ffffff;//菜单选中的字体颜色

$hoverColor: #409eff;//鼠标移上去的字体颜色
$activeBgColor: #409eff;//菜单选中的背景颜色

$bg-topBar:#fff;
$bg-topBarColor:#606266;
